*, *::before, *::after 
{
  box-sizing: border-box;
}

html
{
  height: 100%;
}

body 
{
  background-color: white;
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

.grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  height: 100vh;
}

.grid .wrapper-left 
{
  background-color: white;
  transform: translateX(0%);
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
}

.buttons
{
  margin: 1em;
  margin-left: 0;
  display: flex;
  justify-content: left;
  user-select: none;
}

.buttons span button
{
  cursor: pointer;
  /*background*/
  background-color: #35685e;
  /*padding/margin*/
  margin: 0.25rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  /*text*/
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  /*display*/
  display: block;
  border: none;
  border-radius: 4px;
  transition: 30ms;
}

.buttons span button:hover
{
  /*background*/
  background-color: #488f81;
  border-radius: 8px;
  transform: scale(1.05);
}

.headings
{
  font-family: 'Montserrat', sans-serif;
  margin-top: 4rem;
  width: 100%;
}

.headings .name
{
  font-size: 4rem;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
}

.headings .titles
{
  font-size: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}

.about
{
  font-weight: bold;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  width: 45%;
  margin-bottom: 1rem;
}

.line
{
  flex: 1;
  margin-top: 1rem;
  margin-left: 10%;
  height: 0.1rem;
  background-color: black;
}

.description
{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  word-wrap: normal;
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 10%;
}

.contact
{
  width: 30%;
}

.contact #twitter
{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-left: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: black;
}

.contact #email
{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-left: 0;
  margin-bottom: 7rem;
  font-size: 1.4rem;
  color: black;
}

.contact #location
{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-left: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: black;
}

.copyright
{
  position: absolute;
  width: 50%;
  bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.grid .wrapper-right
{
  z-index: 1;
  background-color: #35685e;
  width: 100%;
  height: 100%;
}

.grid .wrapper-right .image
{
  width: 100%;
  height: 100%;
}

.grid .wrapper-right .image #profile-pic
{
  width: 100%;
  height: 100%;
}